.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h3.page-header
      Dashboard

    .row
      .col-md-12
        %h5 Statistics
        .jumbotron.center
          %h3 Coming soon

    .row
      .col-md-12
        %h5 Today's Visit
        .jumbotron.center
          %h3 Coming soon
