.jumbotron.center
  .row
    .col-md-12.form-group
      %h1 Welcome to Pintoo
      %h3 Create your restaurant website for free.

  .row
    .col-md-12.form-group
      = link_to 'Sign Up', '#', class: 'btn btn-success'
      = link_to 'Log In', '#', class: 'btn btn-primary'
