.row
  .col-md-3
    = render 'shared/admin_menu'
  .col-md-9
    %h3.page-header
      Editing menu
      .pull-right= link_to '< Back', website_path(@website), class: 'btn btn-link'

    .row
      .col-md-8
        = render 'form'
