%nav.navbar.navbar-light.bg-faded.rounded.navbar-toggleable-md
  %a.navbar-brand{href: '#'} Pintoo
  .collapse.navbar-collapse
    .pull-md-right
      %ul.navbar-nav
        %li.nav-item.active
          = link_to 'Contact', '#', class: 'nav-link'
          
