%nav.navbar.navbar-default.bg-faded.rounded.navbar-toggleable-md
  = link_to 'Pintoo', root_url, class: 'navbar-brand'

  .collapse.navbar-collapse
    .float-md-right
      %ul.nav.navbar-nav
        %li.nav-item{class: (action_name == 'index' ? 'active' : '')}
          = link_to 'Home', root_url, class: 'nav-link'
        %li.nav-item{class: (action_name == 'contact' ? 'active' : '')}
          = link_to 'Contact', contact_url, class: 'nav-link'

        - if user_signed_in?
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
