%table.table.center
  %tr
    %td= fa_icon 'chevron-circle-down'
  %tr
    %td= link_to 'Menu', menu_items_path(:website_id)
  %tr
    %td= link_to 'Pages', '#'
  %tr
    %td Media manage
  %tr
    %td Settings
