
@import "bootstrap";

body {
  padding-top: 2rem;
}

.center {
  text-align: center;
}

.social-bar {
  color: red;
}

.pull-right {
  float: right;
}

.page-header {
  h3 {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

#error_listing {
  color: red;
}
